In [3]:
from pymongo import MongoClient
import pandas as pd
import re
import folium

In [13]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

db, coll = connectCollection('companies','companies')
#offices = {"$unwind": "$offices"},
#db.inventory.aggregate( [ { $unwind : "$sizes" } ] )

In [23]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

db, coll = connectCollection('companies','companies')
interesting_companies = list(coll.find({"$and":
                                        [{"founded_year":{"$gte":2009}},
                                        {"deadpooled_year":None},
                                        {"total_money_raised":{"$exists": True,"$ne":"$0"}},
                                        {"offices.latitude": {"$exists": True, "$ne": None}},
                                        {"offices.longitude": {"$exists": True, "$ne": None}},
                                        {"$or":
                                        [{"category_code":"web"},
                                        {"category_code":"mobile"},
                                        {"category_code":"finance"},
                                        {"category_code":"games_video"},
                                        {"category_code":"analytics"},
                                        {"category_code": "software"}]}]},                                     
                                      {"name":1,"founded_year": 1, "offices.latitude":1,
                                       "offices.longitude":1, "category_code":1, "location":1, 
                                       "total_money_raised":1}))


db.interesting_companies.aggregate([{"$unwind":"$offices"}])

print(len(interesting_companies))

42

In [25]:
print(len(interesting_companies[2]['offices']))

2

In [26]:
companies = pd.DataFrame(interesting_companies)
companies.head()

,_id,name,category_code,founded_year,total_money_raised,offices,location
0,52cdef7c4bab8bd675297f9e,GENWI,mobile,2010,$7.1M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","[{'type': 'Point', 'coordinates': [-111.9035, ..."
1,52cdef7c4bab8bd675297fec,Fixya,web,2013,$8M,"[{'latitude': 37.566879, 'longitude': -122.323...","[{'type': 'Point', 'coordinates': [-122.323895..."
2,52cdef7c4bab8bd67529831a,Social Gaming Network,games_video,2011,$17.1M,"[{'latitude': 37.446823, 'longitude': -122.161...","[{'type': 'Point', 'coordinates': [-122.161523..."
3,52cdef7c4bab8bd675298509,Skydeck,mobile,2012,$4M,"[{'latitude': 37.5645375, 'longitude': -122.32...","[{'type': 'Point', 'coordinates': [-122.325470..."
4,52cdef7c4bab8bd675298591,Handipoints,games_video,2009,$800k,"[{'latitude': 37.772323, 'longitude': -122.214...","[{'type': 'Point', 'coordinates': [-122.214897..."

In [27]:
companies = companies.drop(['_id'], axis = 1)
companies.head()

,name,category_code,founded_year,total_money_raised,offices,location
0,GENWI,mobile,2010,$7.1M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","[{'type': 'Point', 'coordinates': [-111.9035, ..."
1,Fixya,web,2013,$8M,"[{'latitude': 37.566879, 'longitude': -122.323...","[{'type': 'Point', 'coordinates': [-122.323895..."
2,Social Gaming Network,games_video,2011,$17.1M,"[{'latitude': 37.446823, 'longitude': -122.161...","[{'type': 'Point', 'coordinates': [-122.161523..."
3,Skydeck,mobile,2012,$4M,"[{'latitude': 37.5645375, 'longitude': -122.32...","[{'type': 'Point', 'coordinates': [-122.325470..."
4,Handipoints,games_video,2009,$800k,"[{'latitude': 37.772323, 'longitude': -122.214...","[{'type': 'Point', 'coordinates': [-122.214897..."

In [28]:
companies.total_money_raised = companies.total_money_raised.str.replace(r'(\d+)([A-Za-z])', r'\1 \2')
companies.total_money_raised = companies.total_money_raised.str.replace(r'(.)(\d+)', r'\1 \2')
companies.head()

,name,category_code,founded_year,total_money_raised,offices,location
0,GENWI,mobile,2010,$ 7. 1 M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","[{'type': 'Point', 'coordinates': [-111.9035, ..."
1,Fixya,web,2013,$ 8 M,"[{'latitude': 37.566879, 'longitude': -122.323...","[{'type': 'Point', 'coordinates': [-122.323895..."
2,Social Gaming Network,games_video,2011,$ 17. 1 M,"[{'latitude': 37.446823, 'longitude': -122.161...","[{'type': 'Point', 'coordinates': [-122.161523..."
3,Skydeck,mobile,2012,$ 4 M,"[{'latitude': 37.5645375, 'longitude': -122.32...","[{'type': 'Point', 'coordinates': [-122.325470..."
4,Handipoints,games_video,2009,$ 800 k,"[{'latitude': 37.772323, 'longitude': -122.214...","[{'type': 'Point', 'coordinates': [-122.214897..."

In [29]:
#companies3 = companies2[companies2["total_money_raised"].str.contains("M", na=True)]
#companies3
#df[df['model'].str.contains('ac')]

companies1 = companies[['M' in x for x in companies['total_money_raised']]]
companies1.head()

,name,category_code,founded_year,total_money_raised,offices,location
0,GENWI,mobile,2010,$ 7. 1 M,"[{'latitude': 33.8171, 'longitude': -111.9035}]","[{'type': 'Point', 'coordinates': [-111.9035, ..."
1,Fixya,web,2013,$ 8 M,"[{'latitude': 37.566879, 'longitude': -122.323...","[{'type': 'Point', 'coordinates': [-122.323895..."
2,Social Gaming Network,games_video,2011,$ 17. 1 M,"[{'latitude': 37.446823, 'longitude': -122.161...","[{'type': 'Point', 'coordinates': [-122.161523..."
3,Skydeck,mobile,2012,$ 4 M,"[{'latitude': 37.5645375, 'longitude': -122.32...","[{'type': 'Point', 'coordinates': [-122.325470..."
5,Pixsta,web,2010,£ 3 M,"[{'latitude': 51.51819, 'longitude': -0.208979}]","[{'type': 'Point', 'coordinates': [-0.208979, ..."

In [30]:
companies1.to_json(orient= "records")

'[{"name":"GENWI","category_code":"mobile","founded_year":2010,"total_money_raised":"$ 7. 1 M","offices":[{"latitude":33.8171,"longitude":-111.9035}],"location":[{"type":"Point","coordinates":[-111.9035,33.8171]}]},{"name":"Fixya","category_code":"web","founded_year":2013,"total_money_raised":"$ 8 M","offices":[{"latitude":37.566879,"longitude":-122.323895}],"location":[{"type":"Point","coordinates":[-122.323895,37.566879]}]},{"name":"Social Gaming Network","category_code":"games_video","founded_year":2011,"total_money_raised":"$ 17. 1 M","offices":[{"latitude":37.446823,"longitude":-122.161523},{"latitude":34.0698494,"longitude":-118.4054182}],"location":[{"type":"Point","coordinates":[-122.161523,37.446823]},{"type":"Point","coordinates":[-118.4054182,34.0698494]}]},{"name":"Skydeck","category_code":"mobile","founded_year":2012,"total_money_raised":"$ 4 M","offices":[{"latitude":37.5645375,"longitude":-122.3254705}],"location":[{"type":"Point","coordinates":[-122.3254705,37.5645375]}]},{"name":"Pixsta","category_code":"web","founded_year":2010,"total_money_raised":"\\u00a3 3 M","offices":[{"latitude":51.51819,"longitude":-0.208979}],"location":[{"type":"Point","coordinates":[-0.208979,51.51819]}]},{"name":"BrandYourself","category_code":"web","founded_year":2009,"total_money_raised":"$ 1. 5 M","offices":[{"latitude":42.275263,"longitude":-71.24762}],"location":[{"type":"Point","coordinates":[-71.24762,42.275263]}]},{"name":"Titan Gaming","category_code":"games_video","founded_year":2010,"total_money_raised":"$ 1 M","offices":[{"latitude":53.544711,"longitude":-113.515769}],"location":[{"type":"Point","coordinates":[-113.515769,53.544711]}]},{"name":"Formspring","category_code":"web","founded_year":2009,"total_money_raised":"$ 14. 3 M","offices":[{"latitude":39.9052263,"longitude":-86.0547016}],"location":[{"type":"Point","coordinates":[-86.0547016,39.9052263]}]},{"name":"Yipit","category_code":"web","founded_year":2010,"total_money_raised":"$ 7. 55 M","offices":[{"latitude":40.744618,"longitude":-73.987764}],"location":[{"type":"Point","coordinates":[-73.987764,40.744618]}]},{"name":"ScaleMP","category_code":"software","founded_year":2009,"total_money_raised":"$ 8 M","offices":[{"latitude":37.3229727,"longitude":-122.0385792}],"location":[{"type":"Point","coordinates":[-122.0385792,37.3229727]}]},{"name":"VisualOn","category_code":"software","founded_year":2011,"total_money_raised":"$ 3. 1 M","offices":[{"latitude":37.270518,"longitude":-121.955879}],"location":[{"type":"Point","coordinates":[-121.955879,37.270518]}]},{"name":"Heyzap","category_code":"games_video","founded_year":2009,"total_money_raised":"$ 7. 97 M","offices":[{"latitude":37.7905538,"longitude":-122.4041485}],"location":[{"type":"Point","coordinates":[-122.4041485,37.7905538]}]},{"name":"Tinychat","category_code":"web","founded_year":2009,"total_money_raised":"$ 1. 5 M","offices":[{"latitude":42.3756409,"longitude":-72.5196907}],"location":[{"type":"Point","coordinates":[-72.5196907,42.3756409]}]},{"name":"BASH Gaming","category_code":"games_video","founded_year":2010,"total_money_raised":"$ 1 M","offices":[{"latitude":37.5561712,"longitude":-122.0780632},{"latitude":12.971606,"longitude":77.594376}],"location":[{"type":"Point","coordinates":[-122.0780632,37.5561712]},{"type":"Point","coordinates":[77.594376,12.971606]}]},{"name":"AppNeta","category_code":"software","founded_year":2010,"total_money_raised":"$ 55. 8 M","offices":[{"latitude":42.318138,"longitude":-71.24756}],"location":[{"type":"Point","coordinates":[-71.24756,42.318138]}]},{"name":"AppZero","category_code":"software","founded_year":2009,"total_money_raised":"$ 15. 1 M","offices":[{"latitude":42.6751888,"longitude":-71.1469003}],"location":[{"type":"Point","coordinates":[-71.1469003,42.6751888]}]},{"name":"GameChanger Media","category_code":"software","founded_year":2009,"total_money_raised":"$ 3. 64 M","offices":[{"latitude":40.7078343,"longitude":-74.0136605}],"location":[{"type":"Point","coordinates":[-74.0136605,40.7078343]}]},{"name":"Z2Live","category_code":"games_video","founded_year":2009,"total_money_raised":"$ 6. 5 M","offices":[{"latitude":47.6103008,"longitude":-122.3399782}],"location":[{"type":"Point","coordinates":[-122.3399782,47.6103008]}]},{"name":"Tongal","category_code":"web","founded_year":2009,"total_money_raised":"$ 16 M","offices":[{"latitude":34.007112,"longitude":-118.489748}],"location":[{"type":"Point","coordinates":[-118.489748,34.007112]}]},{"name":"Chartbeat","category_code":"analytics","founded_year":2009,"total_money_raised":"$ 14. 5 M","offices":[{"latitude":40.73343,"longitude":-73.990967}],"location":[{"type":"Point","coordinates":[-73.990967,40.73343]}]},{"name":"Shareaholic","category_code":"web","founded_year":2009,"total_money_raised":"$ 5. 46 M","offices":[{"latitude":42.3647559,"longitude":-71.1032591}],"location":[{"type":"Point","coordinates":[-71.1032591,42.3647559]}]},{"name":"The Resumator","category_code":"software","founded_year":2009,"total_money_raised":"$ 2. 98 M","offices":[{"latitude":40.438423,"longitude":-80.001933}],"location":[{"type":"Point","coordinates":[-80.001933,40.438423]}]},{"name":"Ykone","category_code":"web","founded_year":2009,"total_money_raised":"\\u20ac 1. 5 M","offices":[{"latitude":48.8566667,"longitude":2.3509871}],"location":[{"type":"Point","coordinates":[2.3509871,48.8566667]}]},{"name":"Layar","category_code":"mobile","founded_year":2009,"total_money_raised":"$ 13. 4 M","offices":[{"latitude":52.3657578,"longitude":4.8928722}],"location":[{"type":"Point","coordinates":[4.8928722,52.3657578]}]},{"name":"ChallengePost","category_code":"web","founded_year":2009,"total_money_raised":"$ 4. 6 M","offices":[{"latitude":40.7408042,"longitude":-74.00717}],"location":[{"type":"Point","coordinates":[-74.00717,40.7408042]}]},{"name":"Tiny Speck","category_code":"games_video","founded_year":2009,"total_money_raised":"$ 17. 2 M","offices":[{"latitude":49.2824551,"longitude":-123.109217}],"location":[{"type":"Point","coordinates":[-123.109217,49.2824551]}]},{"name":"Getyoo","category_code":"mobile","founded_year":2009,"total_money_raised":"\\u20ac 1. 13 M","offices":[{"latitude":50.83997,"longitude":4.3464721}],"location":[{"type":"Point","coordinates":[4.3464721,50.83997]}]}]'