In [41]:
from pymongo import MongoClient
import pandas as pd
import re
import folium

In [42]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [43]:
db, coll = connectCollection('companies','companies')
print(coll.json)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies'), 'companies.json')

In [44]:
extraer = [
    { "$unwind": "$offices"},
    {"$match": {"$and":
            [{"founded_year": {"$lt": 2009}},
             {"offices.latitude": {"$exists": True, "$ne": None}},
             {"offices.longitude": {"$exists": True, "$ne": None}}]}}]

oficinas_fuera = list(coll.aggregate(extraer))


print(oficinas_fuera[0])

{'_id': ObjectId('52cdef7c4bab8bd675297d8b'), 'name': 'AdventNet', 'permalink': 'abc3', 'crunchbase_url': 'http://www.crunchbase.com/company/adventnet', 'homepage_url': 'http://adventnet.com', 'blog_url': '', 'blog_feed_url': '', 'twitter_username': 'manageengine', 'category_code': 'enterprise', 'number_of_employees': 600, 'founded_year': 1996, 'deadpooled_year': 2, 'tag_list': '', 'alias_list': 'Zoho ManageEngine ', 'email_address': 'pr@adventnet.com', 'phone_number': '925-924-9500', 'description': 'Server Management Software', 'created_at': datetime.datetime(2007, 5, 25, 19, 24, 22), 'updated_at': 'Wed Oct 31 18:26:09 UTC 2012', 'overview': '<p>AdventNet is now <a href="/company/zoho-manageengine" title="Zoho ManageEngine" rel="nofollow">Zoho ManageEngine</a>.</p>\n\n<p>Founded in 1996, AdventNet has served a diverse range of enterprise IT, networking and telecom customers.</p>\n\n<p>AdventNet supplies server and network management software.</p>', 'image': {'available_sizes': [[[150, 55], 'assets/images/resized/0001/9732/19732v1-max-150x150.png'], [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-250x250.png'], [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-450x450.png']]}, 'products': [], 'relationships': [{'is_past': True, 'title': 'CEO and Co-Founder', 'person': {'first_name': 'Sridhar', 'last_name': 'Vembu', 'permalink': 'sridhar-vembu'}}, {'is_past': True, 'title': 'VP of Business Dev', 'person': {'first_name': 'Neil', 'last_name': 'Butani', 'permalink': 'neil-butani'}}, {'is_past': True, 'title': 'Usabiliy Engineer', 'person': {'first_name': 'Bharath', 'last_name': 'Balasubramanian', 'permalink': 'bharath-balasibramanian'}}, {'is_past': True, 'title': 'Director of Engineering', 'person': {'first_name': 'Rajendran', 'last_name': 'Dandapani', 'permalink': 'rajendran-dandapani'}}, {'is_past': True, 'title': 'Market Analyst', 'person': {'first_name': 'Aravind', 'last_name': 'Natarajan', 'permalink': 'aravind-natarajan'}}, {'is_past': True, 'title': 'Director of Product Management', 'person': {'first_name': 'Hyther', 'last_name': 'Nizam', 'permalink': 'hyther-nizam'}}, {'is_past': True, 'title': 'Western Regional OEM Sales Manager', 'person': {'first_name': 'Ian', 'last_name': 'Wenig', 'permalink': 'ian-wenig'}}], 'competitions': [], 'providerships': [{'title': 'DHFH', 'is_past': True, 'provider': {'name': 'A Small Orange', 'permalink': 'a-small-orange'}}], 'total_money_raised': '$0', 'funding_rounds': [], 'investments': [], 'acquisition': None, 'acquisitions': [], 'offices': {'description': 'Headquarters', 'address1': '4900 Hopyard Rd.', 'address2': 'Suite 310', 'zip_code': '94588', 'city': 'Pleasanton', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 37.692934, 'longitude': -121.904945}, 'milestones': [], 'video_embeds': [], 'screenshots': [{'available_sizes': [[[150, 94], 'assets/images/resized/0004/3400/43400v1-max-150x150.png'], [[250, 156], 'assets/images/resized/0004/3400/43400v1-max-250x250.png'], [[450, 282], 'assets/images/resized/0004/3400/43400v1-max-450x450.png']], 'attribution': None}], 'external_links': [], 'partners': []}

In [49]:
def getLocation(companies):
    for i in range(len(companies['offices'])):
        longitude = companies['offices']['longitude']
        latitude = companies['offices']['latitude']
        loc = {
            'type':'Point',
            'coordinates':[longitude, latitude]
        }
        return loc

In [50]:
getLocation(oficinas_fuera[1])

{'type': 'Point', 'coordinates': [-121.904945, 37.692934]}

In [51]:
for cp in oficinas_fuera:
    value = {"$set": {'geolocation':getLocation(cp)}}
    coll.update_one(cp, value)

In [52]:
print(oficinas_fuera[0])

{'_id': ObjectId('52cdef7c4bab8bd675297d8b'), 'name': 'AdventNet', 'permalink': 'abc3', 'crunchbase_url': 'http://www.crunchbase.com/company/adventnet', 'homepage_url': 'http://adventnet.com', 'blog_url': '', 'blog_feed_url': '', 'twitter_username': 'manageengine', 'category_code': 'enterprise', 'number_of_employees': 600, 'founded_year': 1996, 'deadpooled_year': 2, 'tag_list': '', 'alias_list': 'Zoho ManageEngine ', 'email_address': 'pr@adventnet.com', 'phone_number': '925-924-9500', 'description': 'Server Management Software', 'created_at': datetime.datetime(2007, 5, 25, 19, 24, 22), 'updated_at': 'Wed Oct 31 18:26:09 UTC 2012', 'overview': '<p>AdventNet is now <a href="/company/zoho-manageengine" title="Zoho ManageEngine" rel="nofollow">Zoho ManageEngine</a>.</p>\n\n<p>Founded in 1996, AdventNet has served a diverse range of enterprise IT, networking and telecom customers.</p>\n\n<p>AdventNet supplies server and network management software.</p>', 'image': {'available_sizes': [[[150, 55], 'assets/images/resized/0001/9732/19732v1-max-150x150.png'], [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-250x250.png'], [[150, 55], 'assets/images/resized/0001/9732/19732v1-max-450x450.png']]}, 'products': [], 'relationships': [{'is_past': True, 'title': 'CEO and Co-Founder', 'person': {'first_name': 'Sridhar', 'last_name': 'Vembu', 'permalink': 'sridhar-vembu'}}, {'is_past': True, 'title': 'VP of Business Dev', 'person': {'first_name': 'Neil', 'last_name': 'Butani', 'permalink': 'neil-butani'}}, {'is_past': True, 'title': 'Usabiliy Engineer', 'person': {'first_name': 'Bharath', 'last_name': 'Balasubramanian', 'permalink': 'bharath-balasibramanian'}}, {'is_past': True, 'title': 'Director of Engineering', 'person': {'first_name': 'Rajendran', 'last_name': 'Dandapani', 'permalink': 'rajendran-dandapani'}}, {'is_past': True, 'title': 'Market Analyst', 'person': {'first_name': 'Aravind', 'last_name': 'Natarajan', 'permalink': 'aravind-natarajan'}}, {'is_past': True, 'title': 'Director of Product Management', 'person': {'first_name': 'Hyther', 'last_name': 'Nizam', 'permalink': 'hyther-nizam'}}, {'is_past': True, 'title': 'Western Regional OEM Sales Manager', 'person': {'first_name': 'Ian', 'last_name': 'Wenig', 'permalink': 'ian-wenig'}}], 'competitions': [], 'providerships': [{'title': 'DHFH', 'is_past': True, 'provider': {'name': 'A Small Orange', 'permalink': 'a-small-orange'}}], 'total_money_raised': '$0', 'funding_rounds': [], 'investments': [], 'acquisition': None, 'acquisitions': [], 'offices': {'description': 'Headquarters', 'address1': '4900 Hopyard Rd.', 'address2': 'Suite 310', 'zip_code': '94588', 'city': 'Pleasanton', 'state_code': 'CA', 'country_code': 'USA', 'latitude': 37.692934, 'longitude': -121.904945}, 'milestones': [], 'video_embeds': [], 'screenshots': [{'available_sizes': [[[150, 94], 'assets/images/resized/0004/3400/43400v1-max-150x150.png'], [[250, 156], 'assets/images/resized/0004/3400/43400v1-max-250x250.png'], [[450, 282], 'assets/images/resized/0004/3400/43400v1-max-450x450.png']], 'attribution': None}], 'external_links': [], 'partners': []}

In [53]:
companies_df = pd.DataFrame(oficinas_fuera)

companies_df

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,external_links,partners,founded_month,founded_day,deadpooled_month,deadpooled_day,deadpooled_url,ipo,location,geolocation
0,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,[],[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,[{'external_url': 'http://www.online-tech-tips...,[],9.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,[{'external_url': 'http://www.geekwire.com/201...,[],10.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,[{'external_url': 'http://www.geekwire.com/201...,[],10.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
4,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,...,[],[],6.0,2.0,NaN,NaN,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8730,52cdef7f4bab8bd67529c6f0,Intergy,intergy,http://www.crunchbase.com/company/intergy,http://www.intergycorp.com,,,,software,NaN,...,[],[],NaN,NaN,NaN,NaN,None,None,NaN,NaN
8731,52cdef7f4bab8bd67529c6f2,Contemporary Computer Services,contemporary-computer-services,http://www.crunchbase.com/company/contemporary...,http://www.ccsinet.com,,,,software,NaN,...,[],[],NaN,NaN,NaN,NaN,None,None,NaN,NaN
8732,52cdef7f4bab8bd67529c6f3,QSGI,qsgi,http://www.crunchbase.com/company/qsgi,http://www.qsgi.com,,,eCigsQSGI,software,164.0,...,[],[],NaN,NaN,NaN,NaN,None,None,NaN,NaN
8733,52cdef7f4bab8bd67529c6f7,AfterLogic,afterlogic,http://www.crunchbase.com/company/afterlogic,http://www.afterlogic.com,,,afterlogic,software,NaN,...,[],[],NaN,NaN,NaN,NaN,None,None,NaN,NaN
8734,52cdef7f4bab8bd67529c6fa,EnteGreat,entegreat,http://www.crunchbase.com/company/entegreat,http://www.entegreat.com,,,,enterprise,NaN,...,[],[],NaN,NaN,NaN,NaN,None,None,NaN,NaN

In [54]:
print(len(companies_df))

8735

In [55]:
companies_df1 = companies_df[["name","category_code","founded_year","total_money_raised","geolocation"]]

companies_df1

,name,category_code,founded_year,total_money_raised,geolocation
0,AdventNet,enterprise,1996,$0,NaN
1,Zoho,software,2005,$0,NaN
2,Wetpaint,web,2005,$39.8M,NaN
3,Wetpaint,web,2005,$39.8M,NaN
4,Postini,web,1999,$0,NaN
...,...,...,...,...,...
8730,Intergy,software,2003,$0,NaN
8731,Contemporary Computer Services,software,1974,$0,NaN
8732,QSGI,software,1967,$0,NaN
8733,AfterLogic,software,2002,$0,NaN
8734,EnteGreat,enterprise,2000,$0,NaN

In [56]:
companies_df1['category_code'].value_counts()

web                 1784
software            1593
advertising          586
mobile               553
games_video          513
other                505
enterprise           469
consulting           390
ecommerce            343
network_hosting      333
public_relations     297
search               239
hardware             203
biotech              158
cleantech            145
security              89
semiconductor         73
analytics             61
social                45
finance               36
music                 25
news                  23
education             22
messaging             20
medical               17
health                16
photo_video           15
travel                15
manufacturing         12
transportation        10
real_estate            8
sports                 8
legal                  8
hospitality            8
automotive             6
nanotech               5
fashion                5
design                 3
nonprofit              2
local                  1
Name: category_code, dtype: int64

In [58]:
companies_df1.head(40)

,name,category_code,founded_year,total_money_raised,geolocation
0,AdventNet,enterprise,1996,$0,NaN
1,Zoho,software,2005,$0,NaN
2,Wetpaint,web,2005,$39.8M,NaN
3,Wetpaint,web,2005,$39.8M,NaN
4,Postini,web,1999,$0,NaN
5,Gizmoz,web,2003,$18.1M,"{'type': 'Point', 'coordinates': [-122.169472,..."
6,Geni,web,2006,$16.5M,"{'type': 'Point', 'coordinates': [-118.393064,..."
7,Digg,news,2004,$45M,"{'type': 'Point', 'coordinates': [-122.394523,..."
8,Fox Interactive Media,web,1979,$0,NaN
9,StumbleUpon,web,2002,$18.5M,"{'type': 'Point', 'coordinates': [-122.419204,..."
10,Slacker,music,2006,$73.1M,"{'type': 'Point', 'coordinates': [-117.081406,..."
11,Scribd,news,2007,$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,..."
12,MeetMoi,social,2007,$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ..."
13,Joost,games_video,2006,$45M,"{'type': 'Point', 'coordinates': [-74.0094471,..."
14,Babelgum,games_video,2007,$13.2M,NaN
15,Helio,mobile,2005,$0,NaN
16,CBS,news,1986,$0,NaN
17,Viacom,web,1971,$0,NaN
18,Plaxo,web,2002,$28.3M,"{'type': 'Point', 'coordinates': [-122.055197,..."
19,Twitter,social,2006,$1.16B,"{'type': 'Point', 'coordinates': [-122.4169244..."
20,Powerset,search,2006,$22.5M,"{'type': 'Point', 'coordinates': [-122.395289,..."
21,Technorati,advertising,2002,$32.1M,"{'type': 'Point', 'coordinates': [-122.393041,..."
22,Sparter,games_video,2007,$0,NaN
23,Facebook,social,2004,$2.43B,"{'type': 'Point', 'coordinates': [-122.151801,..."
24,Facebook,social,2004,$2.43B,"{'type': 'Point', 'coordinates': [-122.151801,..."
25,Facebook,social,2004,$2.43B,"{'type': 'Point', 'coordinates': [-122.151801,..."
26,Mahalo,web,2007,$21M,"{'type': 'Point', 'coordinates': [-118.487267,..."
27,AddThis,advertising,2004,$73M,"{'type': 'Point', 'coordinates': [-77.245195, ..."
28,AddThis,advertising,2004,$73M,"{'type': 'Point', 'coordinates': [-77.245195, ..."
29,AddThis,advertising,2004,$73M,"{'type': 'Point', 'coordinates': [-77.245195, ..."
30,AddThis,advertising,2004,$73M,"{'type': 'Point', 'coordinates': [-77.245195, ..."
31,Kyte,games_video,2006,$23.4M,"{'type': 'Point', 'coordinates': [-122.409173,..."
32,Veoh,games_video,2004,$69.8M,"{'type': 'Point', 'coordinates': [-117.20834, ..."
33,eBay,web,1995,$6.7M,"{'type': 'Point', 'coordinates': [-121.930035,..."
34,OpenX,advertising,2008,$75.5M,"{'type': 'Point', 'coordinates': [-118.1327468..."
35,Jingle Networks,mobile,2005,$88.7M,"{'type': 'Point', 'coordinates': [-122.173887,..."
36,Jangl SMS,web,2005,$9M,NaN
37,Wesabe,web,2005,$4.7M,NaN
38,SmugMug,photo_video,2002,$0,NaN
39,Meetup,web,2002,$18.3M,"{'type': 'Point', 'coordinates': [-73.995722, ..."

In [60]:
companies_df1 = companies_df1.dropna()

companies_df1

,name,category_code,founded_year,total_money_raised,geolocation
5,Gizmoz,web,2003,$18.1M,"{'type': 'Point', 'coordinates': [-122.169472,..."
6,Geni,web,2006,$16.5M,"{'type': 'Point', 'coordinates': [-118.393064,..."
7,Digg,news,2004,$45M,"{'type': 'Point', 'coordinates': [-122.394523,..."
9,StumbleUpon,web,2002,$18.5M,"{'type': 'Point', 'coordinates': [-122.419204,..."
10,Slacker,music,2006,$73.1M,"{'type': 'Point', 'coordinates': [-117.081406,..."
...,...,...,...,...,...
8709,OptiMedica,biotech,2004,$51M,"{'type': 'Point', 'coordinates': [-121.9744545..."
8719,Luminus Devices,other,2002,$136M,"{'type': 'Point', 'coordinates': [-71.278022, ..."
8723,Cameron Health,medical,2001,$121M,"{'type': 'Point', 'coordinates': [-117.607717,..."
8724,Celestial Semiconductor,semiconductor,2004,$2M,"{'type': 'Point', 'coordinates': [-121.92917, ..."
8726,Purfresh,cleantech,1996,$62.7M,"{'type': 'Point', 'coordinates': [-122.151599,..."

In [65]:
companies_df1.reset_index(drop=True)

,name,category_code,founded_year,total_money_raised,geolocation
0,Gizmoz,web,2003,$18.1M,"{'type': 'Point', 'coordinates': [-122.169472,..."
1,Geni,web,2006,$16.5M,"{'type': 'Point', 'coordinates': [-118.393064,..."
2,Digg,news,2004,$45M,"{'type': 'Point', 'coordinates': [-122.394523,..."
3,StumbleUpon,web,2002,$18.5M,"{'type': 'Point', 'coordinates': [-122.419204,..."
4,Slacker,music,2006,$73.1M,"{'type': 'Point', 'coordinates': [-117.081406,..."
...,...,...,...,...,...
2961,OptiMedica,biotech,2004,$51M,"{'type': 'Point', 'coordinates': [-121.9744545..."
2962,Luminus Devices,other,2002,$136M,"{'type': 'Point', 'coordinates': [-71.278022, ..."
2963,Cameron Health,medical,2001,$121M,"{'type': 'Point', 'coordinates': [-117.607717,..."
2964,Celestial Semiconductor,semiconductor,2004,$2M,"{'type': 'Point', 'coordinates': [-121.92917, ..."
2965,Purfresh,cleantech,1996,$62.7M,"{'type': 'Point', 'coordinates': [-122.151599,..."

In [66]:
companies_df1.to_json('./oldcompanies_clean.json', orient='records')

In [329]:
companies_df3["geolocation"][1]

{'type': 'Point', 'coordinates': [-111.9035, 33.8171]}

In [ ]:
'''map_city=folium.Map(location=[40.7221,-73.9712], zoom_start=12)
for i in manhattanWendys:
    folium.Marker(wendy['location']['coordinates'][::-1],
                    radius=2,
                    icon=folium.Icon(icon='cloud',color='red'), 
                   ).add_to(map_city)
    
for wendy in manhattanWendys[:5]:
    folium.Marker(wendy['location']['coordinates'][::-1],
                    radius=2,
                    icon=folium.Icon(icon='cloud',color='blue'), 
                   ).add_to(map_city)'''